USE [PAL_COMPSN_P80]
GO
/****** Object:  StoredProcedure [dbo].[RFC_Monitor]    Script Date: 2025/8/13 17:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--select * from RFC_311AutoReturn_Interim
--EXEC RFC_Monitor 'D:\Upload\RFC\Out','D:\Upload\RFC\Backup\Out'

CREATE procedure [dbo].[RFC_Monitor] 
	--@path VARCHAR(2000)='d:\PALFA\Share\Upload\RFC\Out',
	--@backUpPath VARCHAR(200)='d:\PALFA\Share\Upload\RFC\Backup\Out'	
	@path VARCHAR(2000)='\\172.26.40.26\iMAC_Upload\RFC\Out\',   ---0001  --0009 d$\
	@backUpPath VARCHAR(200)='\\172.26.40.26\iMAC_Upload\RFC\BackUp\Out\'   ---0001--0009 d$\
as
 set nocount on  
--declare	@path VARCHAR(2000)='D:\Upload\RFC\Out'
--declare @backUpPath VARCHAR(200)='D:\Upload\RFC\Backup\Out'
------------------------------------------------------------------------------------------------------
--*Program*: <Auto Stock RFC to upload pallet data to MIS>------------  
--*Programer*:<Austin.Ye>  
--*Date*:<2012/06/04> 
--*Unify*:<ALL>  
--*Description*:<Get auto stock pallet data to SAP>  
--########## Parameter Description Begin ##########  
  
--########## Parameter Description End # ##########  
--*Marked*
--##########Update Log Begin ###################  
--Date					UpdateOwner				Description              
--20150211				Wes						从File Server上获取文件 0001
--20190225				Scott					收件人改为从表中获取	   0002
--20200803              Sherlock                给#FileList创建索引(fileName)  0003
--20220607				OuYang					对吃入的SPT SAP Return文档名By时间记录下Log观察，结束后删除逻辑（0004）
--20220610				Lulu					RFC的目錄結構/檔案數量與執行的效能	V0005
--20220623              OuYang                  将变量@applyProcedure	VARCHAR(50)改为VARCHAR(100) V0006
--20230201              Joyce					因SAP系统升级，相关系统需要在升级期间禁用，通过维护表的方式来灵活控制 （0007）
--20240416				Joyce					Add M0114iMAC* file不处理直接备份 0008
--20240424				Joyce					QMS内部要求：RFC共享都已取消d$使用  0009
--20250527				Ira						Add M0153_iMac	0010
--20250623				Joyce					调整M0153_iMac为M0153CS1A_iMac	0011
--20250722				Tacey					调整QMS_311AutoReturn_为QMS_311AR	0012
--20250807				Larry					调整'QMS_TRET311All_PU6%'为'QMS_TCS__RET311All_PU6%'  0013
--##########Update Log End # ###################  
---------------------------------------------------------------------------------------------------------
	
DECLARE @FileList TABLE(fileName VARCHAR(100))
	
DECLARE @cmd NVARCHAR(1000),
		@tempFileName VARCHAR(200),
		@fileName VARCHAR(200),
		@Name VARCHAR(50),
		@tempTableName VARCHAR(50),
		@applyProcedure	VARCHAR(100), --- V0006
		@fullFileName	VARCHAR(200),
		@parm NVARCHAR(2000),
		@transDatetime	VARCHAR(20),
		@EXESPErrMessage NVARCHAR(MAX)
	
SET @transDatetime=dbo.FormatDate(GETDATE(),'YYYYMMDDHHNNSS')

declare @SP_Name varchar(100)='RFC_Monitor'

declare @SN  varchar(50)='' 
declare @ErrMsg Nvarchar(4000)=''
declare @StepFlag varchar(1000)=''

BEGIN Try
	set @SP_Name=IsNull(OBJECT_NAME(@@PROCID),'')
	set @StepFlag='Try Start'

	---0007 Begin
	DECLARE @ActiveFlag VARCHAR(2)='',@BeginDateTime VARCHAR(14)='',@EndDateTime VARCHAR(14)='',@CurrentDateTime VARCHAR(14)=''

	Set @CurrentDateTime=dbo.FormatDate(GETDATE(),'YYYYMMDDHHNNSS')

	select top 1 @ActiveFlag=ActiveFlag,@BeginDateTime=Station,@EndDateTime=CompName from ModelFunction with(nolock) where FuncType='System_Disable' and Model='SAPUpgrade' 

	If @ActiveFlag='Y' 
	Begin
		If @CurrentDateTime>@BeginDateTime AND @CurrentDateTime<@EndDateTime
		Begin
			--Select @iResult='PASS',@iMessage='The System is not allowed to operate during the SAP upgrade between '+@BeginDateTime+' and '+@EndDateTime+'!'
			RETURN
		End	
	End
	---0007 End

	-- V0005
	--exec File_Path_GetValue @SP_Name,'OutPath',@path OutPut
	exec File_Path_GetValue @SP_Name,'BakOutPath', @backUpPath OutPut
	-- V0005 end
	
	IF RIGHT(@path,1)<>'\'
	BEGIN
		SET @path=@path+'\'
	END
	
	IF RIGHT(@backUpPath,1)<>'\'
	BEGIN
		SET @backUpPath=@backUpPath+'\'
	END
	
	SET @backUpPath=@backUpPath+dbo.FormatDate(GETDATE(),'YYYY')+'\'+dbo.FormatDate(GETDATE(),'MM')+'\'+dbo.FormatDate(GETDATE(),'DD')+'\'
	
	SET @cmd='MASTER..xp_cmdshell ''MD '+@backUpPath+''''
	
	EXEC(@cmd)
	
	SET @cmd='DIR '+@path+' /B'
	
	INSERT INTO @FileList(fileName)
	     EXEC XP_CMDSHELL @CMD
	
	DELETE @FileList WHERE fileName IS NULL 
	DELETE @FileList WHERE fileName NOT LIKE '%.OK'
	
	--0003 begin
	create table #FileList (fileName VARCHAR(100))
	create nonclustered index NonClu_Index_fileName_20200803 on #FileList(fileName)

	insert into #FileList
	select * from
	--Select * into #FileList from
	--0003 end
	--(select * from @FileList WHERE fileName like 'QMS_TRET311All_PU6%' --0013
	(select * from @FileList WHERE fileName like 'QMS_TCS__RET311All_PU6%' --0013
	union all
	select * from @FileList WHERE fileName like 'QMS_Chk_WO_%'
	union all
	select * from @FileList WHERE fileName like 'M0114iMAC%'  --0008
	union all
	select * from @FileList WHERE fileName like 'M0153CS1A_iMac%'	--0010 --0011 'M0153_iMac%'
	--union all
	--select * from @FileList WHERE fileName like 'QMS_311AutoReturn_%') --0012
	union all
	select * from @FileList WHERE fileName like 'QMS_311AR%') --0012
	AS #123  
	-----------------------
	--print 1111
	--print  @FileList 
	--print  2222 
	--return
	----------------------
	--WHILE EXISTS(SELECT * FROM @FileList)
	WHILE EXISTS(SELECT * FROM #FileList)
	BEGIN
		SELECT TOP 1 @fileName=fileName FROM #FileList
		--SET @tempFileName=SUBSTRING(@fileName,0,LEN(@fileName)-2)

		if @fileName like 'M0114iMAC%'  --0008
		Begin
			SET @fullFileName=@path+@fileName
			SET @cmd='COPY '+@fullFileName+' '+@backUpPath+@fileName
			EXEC MASTER..XP_CMDSHELL @CMD
				
			SET @cmd='DEL '+@fullFileName
			EXEC MASTER..XP_CMDSHELL @CMD 
			SET @tempFileName=''
		End

		else if @fileName like 'QMS_TRET311All_PU6S%' OR @fileName like 'M0153CS1A_iMac%' or  @fileName like 'QMS_311AR%'  	--0010 0011 'M0153_iMac%'--0012
		begin
			SET @tempFileName=SUBSTRING(@fileName,0,LEN(@fileName)-3)   --311因 SAP返回文件名称为RequestFile+'1.oK'
		end
		else
		begin
			SET @tempFileName=SUBSTRING(@fileName,0,LEN(@fileName)-2)  --因SAP返回文件名称为RequestFile+'.oK'
		end

		SELECT @Name=Name  FROM RFC_FileRecord 
		  WHERE RequestFile=@tempFileName 

		--select top 1000 * from RFC_FileRecord where name='RFC_311AutoReturn'
		--select top 1000 * from RFC_BasicData
		IF @@ROWCOUNT>0
		BEGIN
			SELECT @tempTableName=InterimTable,@applyProcedure=ApplyProcedure
			  FROM RFC_BasicData  WHERE Name=@Name
			-------------------------
			if @Name=''
			begin
			   return
			end 
			-------------------------
			SET @fullFileName=@path+@fileName
			print @fullFileName
			
			SET @cmd='TRUNCATE TABLE '+@tempTableName
			
			EXEC(@CMD)
			
			SET @cmd='BULK INSERT '+@tempTableName+' FROM '+quotename(@fullFileName,'''')+' WITH (BATCHSIZE=1000,FIELDTERMINATOR=''\t'',FIRSTROW=1,ROWTERMINATOR=''\n'',TABLOCK)'
			SET @parm=N'@tmpTableName VARCHAR(50),@FULLFilePath VARCHAR(500)'
			
			BEGIN TRY
				EXEC SP_EXECUTESQL @cmd,@parm,@tmpTableName=@tempTableName,@FULLFilePath=@fullFileName

				SET @cmd='EXEC '+@applyProcedure
				EXEC(@CMD)
				------- 0004 begin
				If @tempTableName='RFC_311AutoReturn_Interim'
				Begin
					SET @transDatetime=dbo.FormatDate(GETDATE(),'YYYYMMDDHHNNSS')
					insert into [RFC_SAPReturnFile_Log]
					Select @fileName,@transDatetime
				End
				------- 0004 begin
				UPDATE RFC_FileRecord 
				SET Status='20',
					FinishDatetime=@transDatetime,
					ResultFile=@fileName 
				WHERE RequestFile=@tempFileName
				
				SET @cmd='COPY '+@fullFileName+' '+@backUpPath+@fileName
				EXEC MASTER..XP_CMDSHELL @CMD
				
				SET @cmd='DEL '+@fullFileName
				EXEC MASTER..XP_CMDSHELL @CMD 
				
			END TRY
			BEGIN CATCH
				UPDATE RFC_FileRecord SET Status='05' WHERE RequestFile=@tempFileName
				
				PRINT @EXESPErrMessage
				set @EXESPErrMessage='Stored Precedure:['+OBJECT_NAME(@@PROCID)+'] is executed exceptionally,'+CHAR(13)
				+'ERROR_NUMBER:'+CAST(ERROR_NUMBER() as varchar(50))+CHAR(13)+
				+'ERROR_MESSAGE:'+ERROR_MESSAGE()+CHAR(13)+
				+'Name:'+@Name+CHAR(13)+
				+'File:'+@fullFileName+CHAR(13)+
				+'please check it now(Urgent)!!!'
				
				--EXECUTE sp_send_cdosysmail_Internet @MailLoopType='1',@GroupTo='PALSPT',@Subject=@Name,@Body=@EXESPErrMessage,@HtmlText=1
			
				Declare @strMailTo varchar(4000)='',@strMailCc varchar(3000)=''
				--0002
				select @strMailTo=@strMailTo+';'+EmailAddress from PAL_Send_Email
						where FuncType='PAL_QMS' and ActiveFlag='Y' and SendFlag='Y' order by IDNo
				Set @strMailTo=Substring(@strMailTo,2,Len(@strMailTo)-1)
				--Print @strMailTo
				select @strMailCc=@strMailCc+';'+EmailAddress from PAL_Send_Email
						where FuncType='PAL_QMS' and ActiveFlag='Y' and CCFlag='Y' order by IDNo
				Set @strMailCc=Substring(@strMailCc,2,Len(@strMailCc)-1)
				--PRINT 	@strMailCc	

				IF @strMailTo<>'' or @strMailCc<>'' 
				begin
				   exec sp_send_cdosysmail_Internet '','QMS_Notice',@strMailTo,@strMailCc,'','RFC_Monitor--311ReturnStock of SPT fail!!!',@EXESPErrMessage,'','','',2,1
				end
				
			END CATCH
		END
		--DELETE FROM @FileList WHERE fileName=@fileName
		DELETE FROM #FileList WHERE fileName=@fileName
	END
	
	set @StepFlag='End' 

END Try

BEGIN CATCH


	Select @ErrMsg=N'Stored Precedure:['+@SP_Name+'] is executed exceptionally,'
		+N'ERROR_NUMBER:'+CAST(ERROR_NUMBER() as varchar(50)) 
		+N'ERROR_MESSAGE:'+ERROR_MESSAGE() 

	set @StepFlag=@StepFlag+':' +@SN

	exec MonitorAgent_SaveErrorLog @SP_Name,@SN,@path ,@StepFlag,@ErrMsg
	 
END CATCH


