USE [PAL_COMPSN_P80]
GO
/****** Object:  StoredProcedure [dbo].[RFC_DelFile_SPT_ByPathFileName]    Script Date: 2025/8/14 9:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Version	Datetime	Owner	DESC
--V0001		20240424	Joyce	QMS内部要求：RFC共享都已取消d$使用

create procedure [dbo].[RFC_DelFile_SPT_ByPathFileName] 	

as
SET NOCOUNT ON  
declare @SP_Name varchar(100)='RFC_DelFile_SPT_ByPathFileName'
declare @ErrMsg Nvarchar(4000)=''
declare @StepFlag varchar(1000)=''

BEGIN Try

	set @SP_Name=IsNull(OBJECT_NAME(@@PROCID),'')
	set @StepFlag='Try Start'

	DECLARE @CMD VARCHAR(1000)
	, @FileName VARCHAR(200)
	,@FuncType varchar(100)=''
	,@DueDate varchar(20)=''
	,@DelDateTime varchar(20)=''
	,@DeletePath VARCHAR(1000)=''
	,@KeepDays int=1
	,@FileRecordName varchar(80)=''
	,@ReturnFileName VARCHAR(20)=''
	,@i int= 0
	create table #TempFileInfor(FileInfor varchar(200))
	create table #TempFileInforNoBlank(FileInfor varchar(200))
	create table #TempIdxNoBlank(FileInfor varchar(200),idx int ,OkIdx int)
	Create table #TempPath(DeletePath varchar(1000),FuncType varchar(100),FileRecordName varchar(100),txtFileNameStr varchar(50),ReturnFileName Varchar(20),KeepDays int,PathFileDescription varchar(200))
	Create table #tmpDel([FileName] VARCHAR(200), CreateDateTime VARCHAR(20))	
	Create table #tempFileRecord(RequestFile varchar(100))
	Create table #tempFileDel(RequestFile varchar(100))
	
	----需要删除文件的路径和文件名
  --V0001 d$\

	--Select len('QMS_Chk_WO_7493693043066446593.txt1.OK')
	--SELECT LEN('QMS_TRET311All_PU6S5949219640421898904.txt1.OK')
	--SELECT LEN('QMS_S_6237360528701355845.txt1.OK')
	--SELECT LEN('QMS_311AutoReturn_2022050411550213.txt.OK')

	while Exists(Select 1 from #TempPath)
	Begin
		Select top 1 @DeletePath = DeletePath,@KeepDays=KeepDays,@FuncType=FuncType,@FileRecordName=FileRecordName ,@ReturnFileName=ReturnFileName
		from #TempPath 
		--where FuncType = 'CHK_WO_STATUS'
		Set @CMD = 'dir '+ @DeletePath
		insert into #TempFileInfor 
		exec master..xp_cmdshell @CMD
		if Right(@DeletePath,1)<>'\'
		Begin
			Set @DeletePath = @DeletePath+'\'
		End
		insert into #TempFileInforNoBlank
		select replace(FileInfor,' ','') from #TempFileInfor

		insert into #TempIdxNoBlank
		Select FileInfor,CHARINDEX(@FileRecordName,FileInfor),CHARINDEX(@ReturnFileName,FileInfor)
		from #TempFileInforNoBlank

		delete from #TempIdxNoBlank
		where idx=0 OR OkIdx=0 OR idx is null

		insert into #tmpDel
		select SUBSTRING(Fileinfor,idx,len(Fileinfor)-idx+1), Right(Left(fileinfor,10),4)+Left(Left(fileinfor,10),2)+SUBSTRING(Left(fileinfor,10),4,2)as TransDate
		from #TempIdxNoBlank

		DELETE FROM #tmpDel WHERE [FileName] NOT like @FileRecordName+'%'
		--if @KeepDays=0
		--Begin
		--	set @KeepDays = 1
		--End

		SELECT @DueDate=Left(dbo.FormatDate(GETDATE()-@KeepDays, 'YYYYMMDDHHSSMM'),8)
		print 'delduedate'
		print @DueDate
		while Exists(Select 1 from #tmpDel where CreateDateTime<=@DueDate)
		Begin

			Select top 1 @FileName=[FileName] from #tmpDel  WHERE CreateDateTime<=@DueDate
			SET @CMD='DEL '+@DeletePath+@FileName

			EXEC MASTER..XP_CMDSHELL @CMD,no_output
			delete from #tmpDel where [FileName]= @FileName
			waitfor delay '00:00:001'
			set @i=@i+1
		End
		print @FuncType

		set @DelDateTime =dbo.FormatDate(DateADD(MI,-25,GetDate()),'YYYYMMDDHHSSMM')
		insert into #tempFileRecord(RequestFile)
		SELECT RequestFile  FROM RFC_FileRecord with(nolock) where [Name]=@FuncType and CreateDatetime<@DelDateTime
		--select RequestFile from RFC_FileRecord where Name='CHK_WO_STATUS' and  CreateDatetime>'20220822152400'
		insert into #tempFileDel
		Select A.RequestFile  from #tempFileRecord A,#tmpDel B where B.[FileName] like '%'+A.RequestFile+'%'
		--select * from #tempFileDel
		while Exists(Select 1 from #tempFileDel)
		Begin
			Select top 1 @FileName = RequestFile from #tempFileDel 
			SET @CMD='DEL '+@DeletePath+@FileName+@ReturnFileName
			EXEC MASTER..XP_CMDSHELL @CMD,no_output
			delete from  #tempFileDel   where RequestFile=@FileName
			waitfor delay '00:00:001'
		End
	
		print @i
		delete from #TempPath where DeletePath =@DeletePath and FuncType=@FuncType and FileRecordName=@FileRecordName
		--delete from #TempPath 
		Truncate table #TempFileInfor
		Truncate table #TempFileInforNoBlank
		Truncate table #TempIdxNoBlank
		Truncate table #tmpDel
		Truncate table #tempFileRecord
		Truncate table #tempFileDel
		--select * from  #TempFileInfor
		--select * from  #TempFileInforNoBlank
		--select * from  #TempIdxNoBlank
		--select * from  #tmpDel
		--break
	End
	Drop table #TempFileInfor
	Drop table #TempFileInforNoBlank
	Drop table #TempIdxNoBlank
	Drop table #tmpDel
	Drop table #tempFileRecord
	Drop table #tempFileDel
	set @StepFlag='End' 

END Try

BEGIN CATCH
	Select @ErrMsg=N'Stored Precedure:['+@SP_Name+'] is executed exceptionally,'
		+N'ERROR_NUMBER:'+CAST(ERROR_NUMBER() as varchar(50)) 
		+N'ERROR_MESSAGE:'+ERROR_MESSAGE() 

	set @StepFlag=@StepFlag+':' 
	exec MonitorAgent_SaveErrorLog @SP_Name,'',@DeletePath ,@StepFlag,@ErrMsg
END CATCH