USE [PAL_COMPSN_P80]
GO
/****** Object:  StoredProcedure [dbo].[RFC_311Return_CreateFileToSAP]    Script Date: 2025/8/14 10:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Exec _RFC_311Return_CreateFileToSAP_Test20220622 'D:\PALFA\Share\UPLOAD\RFC\In'
ALTER  procedure [dbo].[RFC_311Return_CreateFileToSAP] 
--declare
	@Path VARCHAR(200)='D:\PALFA\Share\UPLOAD\RFC\In'
as
------------------------------------------------------------------------------------------------------
--*Program*: <AutoStock RFC to create file to SAP>------------  
--*Programer*:<Alastair.Jiang>  
--*Date*:<2015/09/06> 
--*Unify*:<ALL>  
--*Description*:<Get auto stock pallet PN data to SAP>  
--########## Parameter Description Begin ##########  
  
--########## Parameter Description End # ##########  
--*Marked*
--##########Update Log Begin ###################  
--Date				UpdateOwner			Description              
--20160714          Eric                添加 B64B 机器，在下面做判断，区别开SPT 与 B64B  (0001)	
--20160727          Eric                因栈板扣帐与成品扣帐都是311扣帐，有一个扣帐另外一个就没法扣帐，相互冲突，在栈板扣帐的palletID后加_PT以区分开来，避免相互影响   (0002)
--20160729          Eric                One File Contains multi-PalletID      (0003)	
--20160729          Eric                针对存量不足的情况，延迟重送,3小时一次      (0004)	
--20211009          Joyce               根据PDA报警RFC_311Return_CreateFileToSAP进行优化      (0005)
---20220614	        ouyang				RFC的目錄結構/檔案數量與執行的效能				(0006)
--20220621          OuYang              新增统计送SAP扣账逻辑  （0007）
--20220812			OuYang				新增在维护的时间段内停止送SAP扣账数据的逻辑 （0008）
--20230915          Freedom             主键重复优化先加distinct，排除SPT的Status=S的 （0009）
--20240424			Joyce				QMS内部要求：RFC共享都已取消d$使用 0010 
--20250807			Larry				修改获取送SAP文档名添加Plant 0011 
--##########Update Log End # ###################  
---------------------------------------------------------------------------------------------------------
set nocount on  

Declare @BU varchar(10)='',
		@TransDatetime VARCHAR(20)='',
		@FilePath VARCHAR(200)='',
		@sqlCmd VARCHAR(8000)='',
		@backUpPath VARCHAR(200)='',
		@DBName varchar(30)='',
		@TransLastOneDT char(14)='',
		@TransLastThreeDT char(14),     ----0004
		@cmd NVARCHAR(1000)='',
		--@tempPalletID varchar(30)='',      ----0003
		@fileNo varchar(5) = '0' ,
		@CurDateTime varchar(20)=''
SET @TransDatetime=dbo.FormatDate(GETDATE(),'YYYYMMDDHHNNSS')
set @TransLastOneDT=dbo.FormatDate(DateAdd(minute ,-60,GETDATE()),'YYYYMMDDHHNNSS')
set @TransLastThreeDT=dbo.FormatDate(DateAdd(minute ,-180,GETDATE()),'YYYYMMDDHHNNSS')     ----0004
	

declare @ErrMsg Nvarchar(4000)=''
declare @StepFlag varchar(100)=''
declare @SP_Name varchar(100)=''
Begin Try
	set @SP_Name=isnull(OBJECT_NAME(@@PROCID),'' )
	set @StepFlag='Try Start'

	If @Path=''
	Begin 
		Return
	End
	
	IF RIGHT(@Path,1)<>'\'
	BEGIN
		SET @Path=@Path+'\'
	END
	------ 0008 begin
	IF Exists(Select 1 from [SPT_SystemDisable_Maintain] where [SysName]=@SP_Name AND SysType='SP' AND @TransDatetime BETWEEN StartDT and EndDT and DisableFlag='Y')
	Begin
		print N'已经定义在此段时间内停止送扣账(311送扣账)'
		Return
	End
	------ 0008 end
	--select top 100 * from B_Sys_ProgramSetting where program='alwayson' and item='FileServer_SAPPath_QMS' 
	declare @FileServer_SAPPathIn varchar(200)='\\172.26.40.26\iMAC_Upload\RFC\QMS_TRET311All_PU6\In\'  ---- 0006 --0010 d$\
			,@FileServer_Filename varchar(50)=''
	--Declare @FileServer_SAPPath varchar(200)='',@FileServer_Filename varchar(50)='' ,@FileServer_SAPPathIn varchar(200)='' 
	--SELECT @FileServer_SAPPath=Context from B_Sys_ProgramSetting with(nolock) where program='alwayson' and item='FileServer_SAPPath_QMS' 
	--set @FileServer_SAPPathIn=@FileServer_SAPPath+'RFC\QMS_TRET311All_PU6\In'   --- 0006    
	--set @FileServer_Filename='QMS_311RET_'+@TransDatetime+'.txt' 


	--SET @backUpPath=Replace(@Path,'IN\','BackUp\')+'QMS\'    ---- 0006 
	exec File_Path_GetValue @SP_Name,'INPath',@FileServer_SAPPathIn OutPut  ---- 0006
	exec File_Path_GetValue @SP_Name,'BakInPath',@backUpPath OutPut  ---- 0006
	SET @backUpPath=@backUpPath+dbo.FormatDate(GETDATE(),'YYYY')+'\'+dbo.FormatDate(GETDATE(),'MM')+'\'+dbo.FormatDate(GETDATE(),'DD')+'\'
	SET @cmd='MASTER..xp_cmdshell ''MD '+@backUpPath+''''
	EXEC(@cmd)
	
	--SET @FilePath=@Path+'QMS_RET311All_PU6S'+@TransDatetime     

	TRUNCATE TABLE RFC_311AutoReturn_SPT_Interim
	TRUNCATE TABLE RFC_311AutoReturn_Interim_SendFile   
	
	-------------------------------------------------------
	--  Ira add on 20160225 10:30 只有入库成功之后才会送SAP 

	create table #RFC_311AutoReturn_QMSToSAP
	(
		MaterialPalletID varchar(50),
		PalletID varchar(50)
	)

	if exists (select top 1 0 from RFC_311AutoReturn with(nolock))
	begin
		/*****************************************************************************/
		-- Ira add on 20160225 15:20  RFC_311AutoReturn表中同一个MaterialPalletID对应的所有PalletID都刷入表MES_AutoStock_QMSToSAP/AutoReturn_DataToSAP时,才将栈板料号送SAP扣帐
		select MaterialPalletID ,count(PalletID) AS Qty, LinkDateTime into #Count  
		from RFC_311AutoReturn with(nolock) group by MaterialPalletID,LinkDateTime order by LinkDateTime 
			
		declare @Count int  -- RFC_311AutoReturn表中同一个MaterialPalletID对应的PalletID的数量 
		declare @Count1 int -- MES_AutoStock_QMSToSAP/AutoReturn_DataToSAP表中同一个MaterialPalletID对应的PalletID的数量 
		declare @MaterialPalletID varchar(40)=''

		while exists (select top 1 0 from #Count)
		begin
			select top 1 @Count = Qty ,@MaterialPalletID = MaterialPalletID from #Count order by LinkDateTime 
			
			---- 0001 添加 B64B 机器，在下面做判断，区别开SPT 与 B64B
			IF  exists (select top 1 0 from RFC_311AutoReturn a  with(nolock) ,B_Sys_ProcessItems  b with(nolock) 
			            where a.PN=b.QCI_PN   and  b.SN='311AutoReturn_Plant_SPT' and  b.FuncType='311AutoReturn_Plant_SPT'  and MaterialPalletID=@MaterialPalletID)
			BEGIN 
				-----------SPT部分，有工单根据MES_AutoStock_QMSToSAP获取@count1,无工单的根据AutoReturn_DataToSAP获取@count1-----------
				--0005 begin 				
				--if exists(	Select  WO from PAL_SPT_Pallet a with(nolock),RFC_311AutoReturn b with(nolock) where a.Pallet_ID=b.PalletID and MaterialPalletID=@MaterialPalletID and  WO !='' )
				--begin
					--select @count1 = COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP  a with(nolock), RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
					--	where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID				
					--select @count1 = @count1 + COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP_bk  a with(nolock), RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
						--where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID		-- 增加By MaterialPalletID的条件,排除RFC_311AutoReturn中存在多个MaterialPalletID的数据时,@Count和@Count1不一致的情况
				if exists(Select  WO from PAL_SPT_Pallet a with(nolock)
					where exists(select 1 from RFC_311AutoReturn b with(nolock) where a.Pallet_ID=b.PalletID and MaterialPalletID=@MaterialPalletID )and  WO !='' )					
				begin	
					select @count1 = COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP  a with(nolock)
							where exists(select 1 from RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
								where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID	)
					if @count1=0 --可能导致一直送
					begin
						select @count1 = COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP_bk  a with(nolock)
								where exists(select 1 from RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
									where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID)		-- 增加By MaterialPalletID的条件,排除RFC_311AutoReturn中存在多个MaterialPalletID的数据时,@Count和@Count1不一致的情况
					end
				--0005 end 
				end 
				else
				begin
					--0005 begin
					--select @count1 = COUNT(distinct a.ReferenceID) from AutoReturn_DataToSAP a with(nolock), RFC_311AutoReturn b  with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
					--	where a.ReferenceID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID	

						select @count1 = COUNT(distinct a.ReferenceID) from AutoReturn_DataToSAP a with(nolock)
							where exists (select 1 from RFC_311AutoReturn b  with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
								where a.ReferenceID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID)	
						--0005 end 
				end 
			END 
			ELSE
			BEGIN
			    ------------ B64B部分  
				--0005 begin
				--select @count1 = COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP  a with(nolock), RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
				--		where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID				
				--select @count1 = @count1 + COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP_bk  a with(nolock), RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
				--		where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID		-- 增加By MaterialPalletID的条件,排除RFC_311AutoReturn中存在多个MaterialPalletID的数据时,@Count和@Count1不一致的情况
				select @count1 = COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP  a with(nolock)
						where exists(select 1 from RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
								where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID)	
				if @count1=0 --可能导致一直送
				begin				
					select @count1 = COUNT(distinct a.PalletID) from MES_AutoStock_QMSToSAP_bk  a with(nolock)
							where exists(select 1 from RFC_311AutoReturn b with(nolock)	-- Ira add distinct on 20160324 17:50 排除同一个PalletID有多个工单的情况
								where a.PalletID =b.PalletID and  b.MaterialPalletID=@MaterialPalletID)		-- 增加By MaterialPalletID的条件,排除RFC_311AutoReturn中存在多个MaterialPalletID的数据时,@Count和@Count1不一致的情况
				end
				--0005 end
			END 
			----------------------------------------
			if @Count = @Count1 
			begin
				insert into #RFC_311AutoReturn_QMSToSAP 
				--insert into #RFC_311AutoReturn_PalletID 
				select distinct MaterialPalletID, PalletID from RFC_311AutoReturn  with(nolock) where PostFlag = 'Y' and MaterialPalletID = @MaterialPalletID 

				------------------
				---- 备份那些栈板不送SAP扣帐的资料,打印出需要送SAP扣帐的MaterialPalletID
				if exists (select top 1 0 from RFC_311AutoReturn  with(nolock) where PostFlag = 'N' and (PN = ''or PN is null) and MaterialPalletID = @MaterialPalletID)
				begin
					------------------------------------------
					---- 因该语句不能塞入备份的时间,故将其Mark,并更改为先塞入Log表,在删除当前表的数据
					--delete from RFC_311AutoReturn OUTPUT deleted.* INTO RFC_311AutoReturn_Log where MaterialPalletID = @MaterialPalletID

					insert into RFC_311AutoReturn_Log(PalletID,MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status,PostNo, SAPErr,LinkDateTime, TransDateTime, LogDateTime)
					select PalletID,MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status,PostNo, SAPErr,LinkDateTime, TransDateTime,@TransDatetime
					    from RFC_311AutoReturn   with(nolock)
						where MaterialPalletID = @MaterialPalletID

					delete from RFC_311AutoReturn where MaterialPalletID = @MaterialPalletID				

					print N'备份的MaterialPalletID为: ['+@MaterialPalletID+'] !'
				end
				else
				begin
					print N'刷入的MaterialPalletID为: ['+@MaterialPalletID+'] !'
				end
				---- 备份那些栈板不送SAP扣帐的资料,打印出需要送SAP扣帐的MaterialPalletID
				------------------

			end

			delete from #Count where MaterialPalletID = @MaterialPalletID 
		end
		/*****************************************************************************/
	end
	else
	begin
		Print N'RFC_311AutoReturn中无数据!'
		return 
	end
	--  Ira add on 20160225 10:30 只有入库成功之后才会送SAP 
	-------------------------------------------------------
	---- 0007 begin
		----已经送过的PalletiD 
		Set @CurDateTime = dbo.FormatDate(GETDATE(),'YYYYMMDDHHNNSS')

	   delete A from #RFC_311AutoReturn_QMSToSAP A where exists(
	   Select B.* from PackingInfoSend_AutoStock_SPT B Where A.PalletID = B.PalletID and B.Status='S')----0009

		select * into #RFC_311AutoReturn_QMSToSAP_BK from #RFC_311AutoReturn_QMSToSAP
		Select B.* into #TempOneSendPacking from #RFC_311AutoReturn_QMSToSAP A,PackingInfoSend_AutoStock_SPT B Where A.PalletID = B.PalletID

		Create table #ReferenceIDMax (PalletID VARCHAR(30),SendTimes int) 
		 insert into #ReferenceIDMax(PalletID,SendTimes)
		 Select PalletID,max(SendTimes) from #TempOneSendPacking Group by PalletID
		 ---取出送过1/2次的PalletID
		 Select * into #ReferenceIDAddOne from #ReferenceIDMax where SendTimes<3
		 ---剩余送过3次的
		 delete from #ReferenceIDMax where SendTimes<3
	 

		---- 第一次送扣账的记录一次
		Delete A from #RFC_311AutoReturn_QMSToSAP_BK A,#TempOneSendPacking B where A.PalletID=B.PalletID
		Insert into PackingInfoSend_AutoStock_SPT
		Select distinct PalletID,1,'','P','Auto',@CurDateTime,'' 
		from #RFC_311AutoReturn_QMSToSAP_BK  -----0009

		If Exists(Select 1 from #ReferenceIDAddOne)
		Begin
			print '1111'
			---- 送过1/2次的还能重送；
			Update A Set A.SendTimes = A.SendTimes+1 ,A.FailReason='',A.Status='P',A.TransDateTime=@CurDateTime
			from  PackingInfoSend_AutoStock_SPT A,#ReferenceIDAddOne B where A.PalletID=B.PalletID and A.SendTimes<3
			insert into #RFC_311AutoReturn_QMSToSAP_BK
			Select A.* from #RFC_311AutoReturn_QMSToSAP A,#ReferenceIDAddOne B where A.PalletID = B.PalletID and B.SendTimes<3
		End
		If Exists(Select 1 from #ReferenceIDMax)
		Begin
			print '222'
			--- 对于已经送过3次的若有PackingInfoSend_AutoStock_SPT 最近一笔Status='R'，表示仓库手动重送
			Select *,ROW_NUMBER() OVER(Partition by PalletID Order by TransDateTime desc) as Num
			into #tempSendPacking
			FROM #TempOneSendPacking
			Select * into #ReSendSAP_Manual from #tempSendPacking where Num=1 and [Status]='R'
			Insert into #RFC_311AutoReturn_QMSToSAP_BK
			Select A.* from #RFC_311AutoReturn_QMSToSAP A,#ReSendSAP_Manual  B 
			where A.PalletID = B.PalletID
			Update A Set A.SendTimes = A.SendTimes+1 ,A.FailReason='',A.[Status]='P',A.TransDateTime=@CurDateTime,A.[UID]='Manual'
			from  PackingInfoSend_AutoStock_SPT A,#ReSendSAP_Manual B where A.PalletID=B.PalletID and A.Status='R'
		End
		truncate table #RFC_311AutoReturn_QMSToSAP
		insert into #RFC_311AutoReturn_QMSToSAP
		select * from #RFC_311AutoReturn_QMSToSAP_BK

		--SELECT * FROM #RFC_311AutoReturn_QMSToSAP
		----- 0007 end
	if exists (select top 1 0 from #RFC_311AutoReturn_QMSToSAP)
	begin

		Declare @SelectedPlant varchar(16)=''
		SET @SelectedPlant =''
	
		----对于一个BU有多个Plant情形(e.g. NB6, LCBU),可能造成某个Plant的资料长时间无法被抓取到，以致此plant扣帐资料长时间滞留，对扣帐产生影响.
	
		Select top 1 @SelectedPlant=Plant from RFC_311AutoReturn a with(nolock) , #RFC_311AutoReturn_QMSToSAP b  with(nolock)
				--where (Status ='' or Status is null) order by TransDateTime 
				where a.PalletID =b.PalletID  and (Status ='' or Status is null) and PostFlag = 'Y' order by LinkDateTime 
		If @SelectedPlant=''
		Begin
			Select top 1 @SelectedPlant=Plant from RFC_311AutoReturn a with(nolock), #RFC_311AutoReturn_QMSToSAP b with(nolock)
				 --where (Status ='WH_Out' and TransDatetime<@TransLastOneDT) or Status='SAP_Fail' order by TransDateTime 
				 where a.PalletID =b.PalletID  and  (Status ='WH_Out' or Status='SAP_Fail' ) and TransDatetime<@TransLastOneDT order by TransDateTime 
																	--20151228   No Receive or Fail, are all delay 1 hour.
		End
		-------------------------
		--select top 100 * from RFC_311AutoReturn
		INSERT INTO RFC_311AutoReturn_SPT_Interim (Header,PalletID,MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status,PostNo, SAPErr,LinkDateTime, TransDateTime, LogDateTime)
		Select '<ITABIN>',a.PalletID,a.MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status ,PostNo,SAPErr,LinkDateTime,@TransDatetime,LogDateTime
			   From RFC_311AutoReturn  a with(nolock) , #RFC_311AutoReturn_QMSToSAP b  with(nolock)
			   where  a.PalletID =b.PalletID  and  Plant=@SelectedPlant and Status='' and PostFlag = 'Y' order by PalletID ASC 
   	
   		--对于送出未收到SAP 反馈，在一小时后，再重送。
   		INSERT INTO RFC_311AutoReturn_SPT_Interim (Header,PalletID,MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status,PostNo, SAPErr,LinkDateTime, TransDateTime, LogDateTime)
		Select '<ITABIN>',a.PalletID,a.MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status ,PostNo,SAPErr,LinkDateTime,TransDatetime,LogDateTime 
			   --From RFC_311AutoReturn where ((Status ='WH_Out' and TransDatetime<@TransLastOneDT) or Status='SAP_Fail')
			   From RFC_311AutoReturn  a with(nolock), #RFC_311AutoReturn_QMSToSAP b  with(nolock)
			   where a.PalletID =b.PalletID  and ( (Status ='WH_Out' or Status='SAP_Fail') and PostFlag = 'Y'  and TransDatetime<@TransLastOneDT )   --20151228   No Receive or Fail, are all delay 1 hour.
			   and SAPErr not like '%more than stock QTY%'      ----0004 针对存量不足的情况，延迟重送,3小时一次
			   and SAPErr not like 'Reference No. already exist%'
			   --避免不同的Plant同时传给SAP
			   and Plant=@SelectedPlant 

        ---- @TransLastThreeDT more than stock QTY
  		INSERT INTO RFC_311AutoReturn_SPT_Interim (Header,PalletID,MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status,PostNo, SAPErr,LinkDateTime, TransDateTime, LogDateTime)
		Select '<ITABIN>',a.PalletID,a.MaterialPalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostFlag,Status ,PostNo,SAPErr,LinkDateTime,TransDatetime,LogDateTime 
			   --From RFC_311AutoReturn where ((Status ='WH_Out' and TransDatetime<@TransLastOneDT) or Status='SAP_Fail')
			   From RFC_311AutoReturn  a with(nolock), #RFC_311AutoReturn_QMSToSAP b  with(nolock)
			   where a.PalletID =b.PalletID  and ( (Status ='WH_Out' or Status='SAP_Fail') and PostFlag = 'Y'  and TransDatetime<@TransLastThreeDT )   --20151228   No Receive or Fail, are all delay 1 hour.
			   and SAPErr like '%more than stock QTY%'      ----0004 针对存量不足的情况，延迟重送,3小时一次
			   --避免不同的Plant同时传给SAP
			   and Plant=@SelectedPlant 


   	  
	    Update RFC_311AutoReturn_SPT_Interim set PalletID = rtrim(PalletID)+ '_PT'  ---0002
	    
   		--当region栏位为空值时,注意把region栏位的空值改为Null，不然SAP吃文档会是乱码
   		--當我們用BCP將Temp Table export TXT file時,原先’’ (空字串)會轉成NULL,NULL會被轉成空字串,但SAP在程式中是判斷’’ (空字串),不會刻意轉換空一格或NULL成’’(空字串)
    
		--update RFC_311AutoReturn_SPT_Interim set Region=Null where Region=''

		----check 大笔数据功能，如超过5000，则alarm。
		-----------------------
		declare @Qty int
		Declare @ErrMessage NVARCHAR(MAX)=''
	
		Select @Qty=COUNT(*) from RFC_311AutoReturn_SPT_Interim  with(nolock)
		if @Qty>5000 
		begin 
			set @ErrMessage=N'RFC_311AutoReturn: Processing Data Total> 5000!!!Please check it!!!!'
			
			EXEC [QMSSendMail] 'RFC','QMS_Notice','RFC_Monitor--SPT Data Total> 5000!!!',@ErrMessage,'','','',2,1
	
			SELECT distinct top 100 PalletID  into #Create_Interim  FROM RFC_311AutoReturn_SPT_Interim  with(nolock)
			Delete from RFC_311AutoReturn_SPT_Interim  where PalletID not in (select PalletID from #Create_Interim) 

		end 
		-------------------
		Create table #RFC_311AutoReturn_MultiPallet(PalletID varchar(30) )   ----0003
		--Select * from RFC_311AutoReturn_SPT_Interim
		WHILE EXISTS(SELECT * FROM RFC_311AutoReturn_SPT_Interim)
		BEGIN  

		   	-------------------- 20160701 Begin  	Eric	命名规则改为产生随机数 -------
			DECLARE @FileName varchar(50)
			Declare @FilePath_tmp VARCHAR(200)
			create table #FileName(FileName varchar(50))
			INSERT #FileName (FileName)
				exec [RFC_GetFileName] 'RET311All_PU6S',@SelectedPlant  --0011

			select @FileName=FileName from #FileName 
			if @FileName is null
			begin
				Print 'Cannot get ID!'
				return
			end

			SET @FilePath=@Path+@FileName
			SET @FilePath_tmp=REPLACE(@FilePath,'.txt','.tmp')
			------------------- 20160701 End	  Eric	命名规则改为产生随机数 -------

			----Select top 1 @tempPalletID=PalletID from RFC_311AutoReturn_SPT_Interim with(nolock)			
			Insert into #RFC_311AutoReturn_MultiPallet(PalletID)
				Select top (5) PalletID from RFC_311AutoReturn_SPT_Interim with(nolock)		    ----0003


			SET @fileNo=@fileNo+1

			INSERT INTO RFC_311AutoReturn_Interim_SendFile(Header,Plant,PalletID,PN,CostCenter,REF1,REF2,Qty,PostNo,SAPErr)  
				SELECT '<RECORD>','','','','','','','','',''

			INSERT INTO RFC_311AutoReturn_Interim_SendFile(Header,PalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostNo,SAPErr)
				SELECT '<ITABIN>',PalletID,Plant,PN,CostCenter,REF1,REF2,Qty,'',''
				  FROM RFC_311AutoReturn_SPT_Interim WITH(nolock)
				  ---WHERE PalletID=@tempPalletID
				  WHERE PalletID In(Select PalletID from  #RFC_311AutoReturn_MultiPallet)    ----0003

 
			set @DBName=DB_NAME()
		
			--Set @sqlCmd= 'BCP "Select Header,PalletID,Plant,PN,CostCenter,REF1,REF2,Qty,PostNo,SAPErr,'''','''' From '+@DBName+'.dbo.RFC_311AutoReturn_Interim_SendFile ORDER BY Header DESC " QueryOut '+@FilePath+'.tmp'+' -c -T'
			--文件格式Qty后面不需要留Table空位
			Set @sqlCmd= 'BCP "Select Header,PalletID,Plant,PN,CostCenter,REF1,REF2,Qty From '+@DBName+'.dbo.RFC_311AutoReturn_Interim_SendFile ORDER BY Header DESC " QueryOut '+@FilePath_tmp+' -c -T'
		
			--print @sqlcmd
			EXEC master..xp_cmdshell @sqlCmd
		
			--INSERT INTO RFC_FileRecord(Name,RFCName,RequestFile,CreateDatetime,Status,ResultFile,FinishDatetime)  
			--	SELECT '311AutoReturn','Zrfc_311_Auto_Return','QMS_RET'+@TransDatetime+@fileNo+'.txt',@TransDatetime,'00','',''	

			INSERT INTO RFC_FileRecord(Name,RFCName,RequestFile,CreateDatetime,Status,ResultFile,FinishDatetime) 
			    --SELECT '311AutoReturn','Zrfc_311_Auto_Return',@FileName,@TransDatetime,'00','',''	 
				SELECT 'RFC_311AutoReturn','Zrfc_311_Auto_Return',@FileName,@TransDatetime,'00','',''	   --因311AutoReturn已存在，改成RFC_311AutoReturn
		
			--SET @sqlCmd='COPY '+@FilePath+@fileNo+'.tmp'+' '+@backUpPath+'QMS_RET'+@TransDatetime+@fileNo+'.txt'
			--EXEC MASTER..XP_CMDSHELL @sqlCmd

			SET @sqlCmd='COPY '+@FilePath_tmp+' '+@backUpPath+@FileName
			EXEC MASTER..XP_CMDSHELL @sqlCmd
				
			SET @sqlCmd='Rename '+@FilePath_tmp+' '+@FileName
			EXEC MASTER..XP_CMDSHELL @sqlCmd

			--SET @sqlCmd='Rename '+@FilePath+@fileNo+'.tmp'+' '+'QMS_RET'+@TransDatetime+@fileNo+'.txt'
			--EXEC MASTER..XP_CMDSHELL @sqlCmd

			set @FileServer_Filename=@FileName
			
			exec AlwaysOn_TransferFile 'MoveByFile',@FileServer_Filename ,@Path,@FileServer_SAPPathIn  
			 
			--print @FileServer_Filename + '--'+ @Path+ '--'+@FileServer_SAPPathIn
			
			Update RFC_311AutoReturn set Status='WH_Out',Transdatetime=@TransDatetime          
				--where PalletID =@tempPalletID 
				--where PalletID + '_PT' =@tempPalletID         ----0002 获取的@tempPalletID 格式为xxxx_PT ,RFC_311AutoReturn link 要加 '_PT'
				where PalletID + '_PT' In(Select PalletID from  #RFC_311AutoReturn_MultiPallet)     ----0002----0003

			Delete from RFC_311AutoReturn_SPT_Interim  ---WHERE PalletID=@tempPalletID 
				WHERE PalletID In(Select PalletID from  #RFC_311AutoReturn_MultiPallet)    ----0003

			Delete from RFC_311AutoReturn_Interim_SendFile
			
			print @FileServer_Filename + '-->'+ @Path+ '-->'+@FileServer_SAPPathIn
			drop table #FileName
		END


	end

	else
	begin
		Print N'没有需要送SAP的数据!'
		return 
	end
	set @StepFlag='Try End'
End Try

Begin Catch

	Select @ErrMsg=N'Stored Precedure:['+@SP_Name+'] is executed exceptionally,'
		+N'ERROR_NUMBER:'+CAST(ERROR_NUMBER() as varchar(50)) 
		+N'ERROR_MESSAGE:'+ERROR_MESSAGE() 
	 
	set @StepFlag=@StepFlag+':' +'Error Happen'

	exec MonitorAgent_SaveErrorLog @SP_Name,@StepFlag,@StepFlag,@StepFlag,@ErrMsg
	 
End Catch	




