USE [PAL_COMPSN_P80]
GO
/****** Object:  StoredProcedure [dbo].[RFC_GetFileName]    Script Date: 2025/8/13 16:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Version	datetime	owner		DESC
--V0001		20250624	Joyce		文件名中增加Plant
--V0002		20250715	Joyce		文件名中增加Plant for 455FGBCS/311FGBCS/U311FGBCS
--V0003		20250807	Larry		添加九码随机码

ALTER PROCEDURE [dbo].[RFC_GetFileName] @RFCName varchar(20), @Plant varchar(50)=''  --V0001	
	
AS
set nocount on

declare @ErrMsg Nvarchar(4000)=''
declare @StepFlag varchar(100)=''
declare @SP_Name varchar(100)=''

Begin Try
	set @SP_Name=isnull(OBJECT_NAME(@@PROCID),'' )
	set @StepFlag='Try Start'

	declare @guid varbinary(36), @guid19 bigint
	select @guid=newid()
	select @guid19 =CONVERT(bigint, @guid)*(-1)

	declare @guid1 varbinary(36), @guid9 bigint
	select @guid1=newid()
	select @guid9 =CONVERT(bigint, @guid1)*(-1)

	--select @guid, @result
	--select 'QMS'+'_'+@RFCName+'_'+ convert(varchar(20),@Guid19)+'.txt' as FileName   RET311All_PU6S

	if @RFCName like 'RET311All%'
	begin
		select 'QMS'+'_'+'T'+@Plant+@RFCName+ convert(varchar(20),@Guid9)+'.txt' as FileName  --V0003

	end
	else if @RFCName in ('A101FGBCS','455FGBCS','311FGBCS','U311FGBCS') --V0001 --V0002
	begin
		select 'QMS_'+left(@RFCName,1)+@plant+right(@RFCName,len(@RFCName)-1)+'_'+ left(convert(varchar(20),@Guid19),13)+'.txt' as FileName 
	end
	else
	begin

		select 'QMS'+'_'+@RFCName+'_'+ convert(varchar(20),@Guid19)+'.txt' as FileName

	end

	set @StepFlag='Try End'
	Return
End Try

Begin Catch

	Select @ErrMsg=N'Stored Precedure:['+@SP_Name+'] is executed exceptionally,'
		+N'ERROR_NUMBER:'+CAST(ERROR_NUMBER() as varchar(50)) 
		+N'ERROR_MESSAGE:'+ERROR_MESSAGE() 
	 
	set @StepFlag=@StepFlag+':' +'Error Happen'

	exec MonitorAgent_SaveErrorLog @SP_Name,'',@RFCName ,@StepFlag,@ErrMsg
	 
End Catch
